<div class="row">
<div class="col-md-6"><h3>STARTING A BUSINESS IN AFRICA JUST GOT EASIER...</h3><br \>

<p>With our app:<br \>
<span class=" glyphicon glyphicon-arrow-right"></span> Choose the right country for your business
    <br \>
<span class=" glyphicon glyphicon-arrow-right"></span> Expand your network & find qualified partners & suppliers
    <br \>
<span class=" glyphicon glyphicon-arrow-right"></span> Fund your expansion or startup </p>
    <br \><br \>
    <p>Enter your email address & we'll notify you when we launch
<%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true") do -%>
   <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
 <%= submit_tag("Send", class: 'btn btn-primary btn-sm') %></button></p>
<% end %>
<div id="response"></div>

</div>

 <div class="col-md-1">
 </div>

<div class="col-md-4"><center>
<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-twitter"></i> tweet this event</button></center><br />

<div class="container2">
<h4>November 15th, 2014 </h4><br \>
  <p>Commerce Africa is connecting entrepreneurs with industry leaders and experts for a two day conference to show you how and what you’ll need to sucessfully build a business on the continent.</p>
</div>

<p><br \>
  Save the Date: <button type="button" class="btn btn-primary btn-xs">facebook</button> <button type="button" class="btn btn-primary btn-xs">meetup</button> 
 
  
  </div>
 
  
  </div>

</div>