<div class="row">
<center><h3>STARTING A BUSINESS IN AFRICA JUST GOT EASIER...</h3></center>
<br \><br \>
<div class="col-xs-6 col-sm-3">

<button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-search fa-3x"></i></button><br \>
<h1 class="desc">RANK</h1> <br \>
<p class="title"> Search & rank the best markets for your business</p>
   


</div>

 <div class="col-xs-6 col-sm-3">

<button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-users fa-3x"></i></button> 
<h1>FIND</h1> <br \>
<p class="title">Find qualified partners & suppliers</p>

 </div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-3">
<button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-usd fa-3x"></i></button>
<h1>FUND</h1><br \><p class="title">Fund your expansion or startup</p>
</div>

 <div class="col-xs-6 col-sm-3">
<button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-comments fa-3x"></i></button>
<h1>NETWORK</h1> <br \>
<p class="title">Network efficiently at Commerce Africa 2014</p>
</div>
  
  </div>
 
  
  </div>

</div>